/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000077;
  margin: 40px 0px 70px;
  text-align: center;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

.tab-tablas {
	width: 100%;
	height: 100%;
}

body
{
	color: black;
	margin: -5px !important;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}

.mapWidget
{
	
}

.color-button-item
{
	float:right;
	margin-right:5px;
	
}

.zone-item
{
	width: 100%;
	clear: left;
	float: left;
	padding-top: 6px;
	padding-left: 4px;
	padding-right: 4px;
}

.scroll-panel
{
	width:100%;
	height:90%;
	float:left;	
	clear:left;
}

.bannerStyle 
{
	background-image:url('./img/ibmp-small.png');
	background-repeat:no-repeat;	
	float:left;	
}

.scroll-panel-item-text
{
	width: auto;
	float:left;
	
}

.scroll-panel-item-button
{
	width:auto;
	float: right;
	margin-right:10px;
}
	
.global-container
{
	margin-left:auto; 
	margin-right:auto;	
}

.header-container
{
	width:100%;
	height:auto;
	float:left;
}

.body-container
{
	width:100%;
	height:auto;
	float:left;
	clear:left;
}
.acordion
{
	width:100%;
	height:100%;
	float:left;
}

.leftbar-container
{
	width:20%;
	height:auto;
	float:left;
	clear:left;	
}

.map-container
{
	width:80%;
	height:auto;
	float:right;	
}

.float-left
{
	float:left;
	vertical-align:middle;
}
.map-dock-panel
{
	width:100%;
	height:100%;
}
.barra-histogramas
{
	width:100%;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.cw-StackPanelHeader {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.0em;
}
